---
version: "3"
services: 
    mysql:
        image: mysql:5.6
        container_name: mysql-container
        ports: 
            - "3306:3306"
        volumes: 
            - .data:/var/lib/mysql
        restart: always
        environment: 
            - MYSQL_ROOT_PASSWORD=SafiraLabApp
            - MYSQL_DATABASE=safira
            - MYSQL_USER=safira
            - MYSQL_PASSWORD=SafiraLabApp
        networks: 
            - backend
    safira-api:
        build: ./backend
        container_name: safira-api-container
        networks:
            - backend
            - frontend
        restart: always
        ports: 
            - 8080:8080
        depends_on: 
            - "mysql"
    safira-front:
        build: ./frontend
        container_name: safira-front-container
        restart: always
        networks: 
            - frontend
        ports: 
            - 5000:5000
    # registry:
    #     image: registry:2
    #     container_name: docker-registry-container
    #     ports: 
    #         - 5000:5000
    #     restart: always
    #     volumes: 
    #         - .volume:/var/lib/registry
    # registry-ui:
    #     image: konradkleine/docker-registry-frontend:v2
    #     container_name: docker-registry-ui-container
    #     ports: 
    #         - 8081:80
    #     restart: always
    #     environment:
    #         ENV_DOCKER_REGISTRY_HOST: docker-registry
    #         ENV_DOCKER_REGISTRY_PORT: 5000
networks:
    frontend:
        driver: bridge
    backend:
        driver: bridge